body {
    font-family: 'Segoe UI', sans-serif;
}

main{
    padding: 120px 0 0 0;
    display: flex;
	flex-flow: row;
}

aside{
    flex: 1 1 400px;
}

section{
    flex: 0 0 530px;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 0 0 0 30px;
    border: 1px solid black;
}

span {
    font-style: italic;
}

table.task_operation{
    border: 1px #000000 solid;
    border-collapse: collapse;
}

table.task_operation tr{
    border: 1px #000000 solid;
}

table.task_operation td{
    padding:5px;
    border: 1px #000000 solid;
}
