body {font-family: 'Segoe UI', sans-serif;}

header{
    position: fixed;
    background-color: white;
    width: calc(100% - 60px);
    height: 120px;
    padding: 0 0 0 30px;
    border: 1px solid black;
}

main{
    padding: 120px 0 0 0;
    display: flex;
    flex-flow: row;
}

section{
    flex: 0 0 530px;
}

.aside{
    flex: 1 1 400px;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
}

table.task_operation{
    border: 1px #000000 solid;
    border-collapse: collapse;
}

table.task_operation tr{
    border: 1px #000000 solid;
}

table.task_operation td{
    padding:5px;
    border: 1px #000000 solid;
}

.svg-line {
    stroke-width: 1px;
    stroke: #000;
}

.svg-hours {
    color: #000;
    font-size: 18px;
}

.svg-task {
    stroke: #000;
    fill-opacity: 0.8;
}

.svg-task_text {
    font-size: 18px;
    color: #000;
}

@media (max-width: 580px) {
    #removeTask, #addTask, #changeTask, #saveTask, #areaName,
    #expName, #addPer, #supplyResult {
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
    }
}
